name: Flutter and Dart Analysis

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  analyze_and_format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze --fatal-infos --fatal-warnings

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
